<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body class="bg-dark">
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <div class="container float-center text-light ">
        <form action="" method="POST">
            {% csrf_token %}
            <br><br><br>
            <h1>Student Registration</h1><br><br>
            

            <table >
                <tr>
                    <td><label for="">First name </label><br><input type="text" name="fname"><br></td>
                    <td><label for="">Last name </label><br><input type="text" name="lname"><br></td>
                    
                </tr>
                <tr>
                    <td><label for="">Place </label><br><input type="text" name="place"><br></td>
                </tr>
                <tr>
                    <td><label for="">Email </label><br><input type="email" name="email"><br></td>
                    <td><label for="">Phone </label><br><input type="text" name="phone"><br></td>
                </tr>
                <tr>
                    <td><label for="">Username </label><br><input type="text" name="uname"><br></td>
                    
                    <td><label for="">Password</label><br><input type="password" name="psw"><br></td>
                </tr>
                <tr>
                    <td> <input type="submit" value="Register" class="btn btn-light my-3"></td>
                </tr>
            </table>
           


        </form>
    </div>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>